<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social media icons</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/096ce72fd4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">  
        <div class="btn fb-btn">  
          <i class="fa fa-facebook" aria-hidden="true" id="fb"></i>  
        </div>  
        <div class="btn ig-btn">  
          <i class="fa fa-instagram" aria-hidden="true" id="ig"></i>  
        </div>  
        <div class="btn tw-btn">  
          <i class="fa fa-twitter" aria-hidden="true" id="tw"></i>  
        </div>  
        <div class="btn tw-btn">  
          <i class="fa fa-github" aria-hidden="true" id="tw"></i>  
        </div>  
        <div class="btn tw-btn">  
          <i class="fa fa-youtube" aria-hidden="true" id="tw"></i>  
        </div>  
      </div>  
</body>
</html>