<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Animated Radio Buttons</title>
</head>

<body>
    <div class="main_wrapper">
        <div class="buttons_wrapper">

            <input type="radio" name="inputs" id="input1">
            <label for="input1" class="entry">
                <div class="circle"></div>
                    <div class="entry-label">Male</div>
                
            </label>

            <input type="radio" name="inputs" id="input2">
            <label for="input2" class="entry">
                <div class="circle"></div>
                    <div class="entry-label">Female</div>
                
            </label>

            <input type="radio" name="inputs" id="input3">
            <label for="input3" class="entry">
                <div class="circle"></div>
                    <div class="entry-label">Other</div>
                
            </label>

            <div class="highlight"></div>
        </div>
    </div>
</body>

</html>