<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pricing Cards</title>
  <link rel="stylesheet" href="style.css">
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>
<body>
  <div class="container">
  <div class="card">
    <h3>Basic</h3>
    <div class="details">
      <ul>
        <li><i class="fas fa-check"></i>Single Domain</li>
        <li><i class="fas fa-check"></i>10 GB Disk Space</li>
        <li><i class="fas fa-check"></i>1 Email</li>
       <li><i class="fas fa-check"></i>Free cPanel</li>
       <li><i class="fas fa-times"></i>Free SSL</li>
      </ul>
    </div>
    <p>$<span>20</span>/Month</p>
    <button>Subscribe</button>
  </div>
  
  <!----
    <div class="card">
    <h3>Professional</h3>
    <div class="details">
      <ul>
        <li><i class="fas fa-check"></i>Single Domain</li>
        <li><i class="fas fa-check"></i>20 GB Disk Space</li>
        <li><i class="fas fa-check"></i>2 Email</li>
       <li><i class="fas fa-check"></i>Free cPanel</li>
       <li><i class="fas fa-check"></i>Free SSL</li>
      </ul>
    </div>
    <p>$<span>40</span>/Month</p>
    <button>Subscribe</button>
  </div>
  
    <div class="card">
    <h3>Master</h3>
    <div class="details">
      <ul>
        <li><i class="fas fa-check"></i>Single Domain</li>
        <li><i class="fas fa-check"></i>Unlimited Disk Space</li>
        <li><i class="fas fa-check"></i>5 Email</li>
       <li><i class="fas fa-check"></i>Free cPanel</li>
       <li><i class="fas fa-check"></i>Free SSL</li>
      </ul>
    </div>
    <p>$<span>60</span>/Month</p>
    <button>Subscribe</button>
  </div>
  -->
  </div>
</body>
</html>