<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Hover Effect By Frontend Everything </title>
    <link href='https://fonts.googleapis.com/css?family=Hind:300,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="wrap">

        <div class="card">
            <div class="card-liner">
                <figure><img
                        src="https://images.unsplash.com/photo-1485893086445-ed75865251e0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80"
                        alt="" /> </figure>
                <div class="card--social">
                    <ul>
                        <li class="instagram"><a href="https://www.instagram.com/frontendeverything/" class="insta"><i
                                    class="bi bi-instagram"></i></i></a></li>
                        <li class="codepen"><a href="#"><i class="fa fa-codepen"></i></a></li>
                    </ul>
                </div>
                <div class="card--title">
                    <h3>Emma Watson</h3>
                    <p>Web Developer</p>
                </div>
                <div class="card--desc">
                    <hr />
                    <p>“Everybody should learn to program a computer, because it teaches you how to think.”</p>
                </div>
                <div class="card--btn">
                    <a href="0">
                        <span class="moreinfo"><i class="fa fa-info-circle"></i> CSS HOVER CARD</span>
                        <span class="fullprof">Dont Forget To Like <i class="fa fa-heart"></i> </span>
                    </a>
                </div>
            </div>
        </div>

    </div>


</body>

</html>