<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>personal portfolio site</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="sidebar sidebarGo">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/intro.html">My Intro</a></li>
                    <li><a href="/services.html">Services</a></li>
                    <li><a href="/blog.html">Blog</a></li>
                    <li><a href="/contact.html">Contact Me</a></li>
                </ul>
            </nav>
        </div>
        <div class="main">
            <div class="hamburger">
                <img src="bars.svg" alt="" class="ham" width="23px">
                <img src="times.svg" alt="" class="cross" width="23px">
            </div>
            <div class="intro">
                <h2>About me</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint aut sed quibusdam distinctio tempore
                    dolor illo repudiandae corrupti ipsam, quam perferendis asperiores nisi libero! Nesciunt, vel esse
                    consequatur omnis facere, adipisci quia culpa illo vitae similique ab?</p>
                <h2>My Skills</h2>
                <div class="skillContainer">
                    <div class="skillItem">HTML: <div class="skill html"></div></div>
                    <div class="skillItem">CSS: <div class="skill css"></div></div>
                    <div class="skillItem">JavaScript: <div class="skill javascript"></div></div>
                    <div class="skillItem">Node.Js: <div class="skill node"></div></div>
                    <div class="skillItem">React.Js: <div class="skill react"></div></div>

                </div>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>