<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/f6816dd194.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="main">
      <div class="icon">
        <svg height="80" width="80">
          <circle cx="40" cy="40" r="35" stroke="white" stroke-width="4" fill="none"></circle>
        </svg>
        <i class="fab fa-instagram fa-2x"></i>
      </div>

      <div class="icon">
        <svg height="80" width="80">
          <circle cx="40" cy="40" r="35" stroke="white" stroke-width="4" fill="none"></circle>
        </svg>
        <i class="fab fa-facebook fa-2x"></i>
      </div>

      <div class="icon">
        <svg height="80" width="80">
          <circle cx="40" cy="40" r="35" stroke="white" stroke-width="4" fill="none"></circle>
        </svg>
        <i class="fab fa-whatsapp fa-2x"></i>
      </div>

      <div class="icon">
        <svg height="80" width="80">
          <circle cx="40" cy="40" r="35" stroke="white" stroke-width="4" fill="none"></circle>
        </svg>
        <i class="fab fa-twitter fa-2x"></i>
      </div>
    </div>
  </body>
</html>
