<!DOCTYPE html>
<html lang="en">
<head>
    
    {{>css}}
    <title>About pg</title>

    <style>
        h1{
            margin-top: 150px;
        }
    </style>
</head>
<body>
    {{>navbar}}
    
    <div class="container">

    
    <h1>Hi {{name}} welcome to About page</h1>
    </div>

    {{>js}}
</body>
</html>