<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Create Account</title>
  <link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="intro-text">
      <h2>Create Account</h2>
      <p>Already have an account? <a href="#">Login</a></p>
    </div>
    <form>
      <input type="text" name="fullname" placeholder="Full Name" required/>
      <input type="email" name="email" placeholder="Email" required/>
     <input type="password" name="password" placeholder="Password" required/>
     <div class="check-box">
       <input type="checkbox" id="check"/>
       <label for="check">I have read and agree to the <a href="#">Terms & Privacy</a></label>
     </div>
     <button type="submit">Sign up</button>
    </form>
  </div>
</body>
</html>