<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card with background video</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="banner">
        <video muted autoplay loop class="video-section">
            <source src="bgvideo.mp4" type="video/mp4" media="">
        </video>
        <div class="banner-section">
            <div class="banner-content">
                <h1>banner section</h1>
                <p>Lorem ipsum dolor sit amet.</p>
                <a href="#" target="_blank" class="primary-btn">Know more</a>
            </div>
        </div>
    </section>
</body>
</html>