<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form>
        <input id="frontend" type="radio" name="hopping" value="a" >
        <label for="frontend"><span></span>Frontend</label>
        <input id="backend" type="radio" name="hopping" value="b" >
        <label for="backend"><span></span>Backend</label>
        <input id="fullstack" type="radio" name="hopping" value="c" checked>
        <label for="fullstack"><span></span>Fullstack</label>
        <div class="worm">
            <div class="worm_segment"></div>
            <div class="worm_segment"></div>
            <div class="worm_segment"></div>
            <div class="worm_segment"></div>
            <div class="worm_segment"></div>
            <div class="worm_segment"></div>
            <div class="worm_segment"></div>
            <div class="worm_segment"></div>
            <div class="worm_segment"></div>
        </div>

    </form>
</body>
</html>