<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="style.css">
    <title>Animated Form | coderider</title>
</head>
<body>
    <div id="container">
        <div id="form-box">
          <i id="prev-btn" class="fi-rr-arrow-small-left"></i>
          <i id="next-btn" class="fi-rr-arrow-right"></i>
          <div id="input-group">
            <input id="input-field" required>
            <label id="input-label"></label>
            <div id="input-progress"></div>
          </div>
          <div id="progress-bar"></div>
        </div>
      </div>

      <script src="main.js"></script>
</body>
</html>