<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div class="container">
      <a href="#" class="icon">
        <i class="fab fa-instagram fa-3x"></i>
      </a>
      <a href="#" class="icon">
        <i class="fab fa-facebook fa-3x"></i>
      </a>
      <a href="#" class="icon">
        <i class="fab fa-github fa-3x"></i>
      </a>
      <a href="#" class="icon">
        <i class="fab fa-twitter fa-3x"></i>
      </a>
    </div>
  </body>
</html>
