<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile card 4</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/096ce72fd4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">  
        <div class="card card0">  
         <div class="border">  
          <h2>codewithrandom</h2>  
          <div class="icons">  
           <i class="fa fa-codepen" aria-hidden="true"></i>  
           <i class="fa fa-instagram" aria-hidden="true"></i>  
           <i class="fa fa-dribbble" aria-hidden="true"></i>  
           <i class="fa fa-twitter" aria-hidden="true"></i>  
           <i class="fa fa-facebook" aria-hidden="true"></i>  
          </div>  
         </div>  
        </div>  
       </div>  
</body>
</html>